<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>270676901312-qu9illl7s22q22kso6bocqk59vgvj0gk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.270676901312-qu9illl7s22q22kso6bocqk59vgvj0gk</string>
	<key>API_KEY</key>
	<string>AIzaSyCcARJDHtO5rehGFeCqHaKPNwNRZLBsI0E</string>
	<key>GCM_SENDER_ID</key>
	<string>270676901312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.self.Contactless</string>
	<key>PROJECT_ID</key>
	<string>contactless-bb7fa</string>
	<key>STORAGE_BUCKET</key>
	<string>contactless-bb7fa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:270676901312:ios:f2a61167896684d8</string>
	<key>DATABASE_URL</key>
	<string>https://contactless-bb7fa.firebaseio.com</string>
</dict>
</plist>